.header-dark {
    background-color: #16181a;
    color: #fff;
}

.button-text {
    transition: transform 0.3s ease-out;
}

.upload-btn {
    transition: all 0.3s ease-in-out;
}

.upload-btn span {
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
}

.close-btn {
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
}

.close-btn span {
    transition: all 0.3s ease-in-out;
    transform: translateX(-10px);
}

