.loading-spinner {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.loading-spinner.fade-out {
  opacity: 0;
  pointer-events: none;
}

.no-videos-message {
    font-size: 1.2rem;
    color: #6c757d;
    margin-top: 2rem;
}

.video-list-title {
  font-size: 1.3rem;
  font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.video-title {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.video-list-card {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.video-list-thumbnail {
    margin: 15px 0;
    cursor: pointer;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.thumbnail-container {
    position: relative;
    cursor: pointer;
}

.thumbnail-container:hover .video-list-thumbnail {
    filter: brightness(75%);
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.thumbnail-container:hover .play-icon {
    opacity: 1;
}

.play-icon svg {
    font-size: 2em;
    color: white;
    pointer-events: none;
}


.video-list-uploaded-at {
    white-space: nowrap;
}

@media (max-width: 768px) {
  .video-list-card {
    flex-direction: column;
  }

  .video-list-thumbnail {
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  .video-list-title {
    font-size: 1.2rem;
  }
}
