.no-videos-message {
  font-size: 1.2rem;
  color: #6c757d;
  margin-top: 2rem;
}

.video-list-title {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.video-list-card {
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.video-list-card:hover {
  transform: scale(1.02);
}

.video-list-thumbnail {
  object-fit: cover;
  height: 80px;
}

.video-list-uploaded-at {
  white-space: nowrap;
}
